<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Home</title>

</head>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/home" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <image href="mdn_logo_only_color.png" height="200" width="200"/>
      </svg>
      <span class="ml-3 text-xl">Restaurent</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a href="/home" class="mr-5 hover:text-gray-900">Home</a>
      <a href="/menu" class="mr-5 hover:text-gray-900">Our Menu</a>
      <a href="/gallery" class="mr-5 hover:text-gray-900">Gallery</a>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Check for Dine In</button>
  </div>
</header>
<body bgcolor="#d0d1fb">
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
           <iframe class="object-cover object-center rounded" width="1031" height="580" src="https://www.youtube.com/embed/k8xRBTvbA0U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <!-- <img class="object-cover object-center rounded" alt="hero" src="https://d2w1ef2ao9g8r9.cloudfront.net/images/_sameSizeHero/44-Unique-Restaurant-Ideas-to-Inspire-Your-Concept-1.png?mtime=20200424142349&focal=none&tmtime=20210630085714"> -->
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white"><br>Due to this Pandemic<br>We are now available in Zomato, Swiggy and Uber Eats!!</h1>
          </div>
        </div>
      </section>
    <section class="text-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col">
          <div class="lg:w-4/6 mx-auto">
            <div class="rounded-lg h-64 overflow-hidden">
              <img alt="content" class="object-cover object-center h-full w-full" src="https://source.unsplash.com/1200x500/?food,chicken">
            </div>
            <div class="flex flex-col sm:flex-row mt-10">
              <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex flex-col items-center text-center justify-center">
                  <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Paul Samuel</h2>
                  <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                  <p class="text-base">"Founded in 2021, The Dummy Restro is known for revolutionizing the way people eat and enjoy food. We take pride in our ability to discover the most unique flavors of Indian Cuisine."</p>
                </div>
              </div>
              <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                <p class="leading-relaxed text-lg mb-4">A restaurant (sometimes known as a diner) is a place where cooked food is sold to the public, and where people sit down to eat it. It is also a place where people go to enjoy the time and to eat a meal.
                    Some restaurants are a chain, meaning that there are restaurants which have the same name and serve the same food. McDonald's, Burger King, and Pizza Hut are examples of chain restaurants that are all over the world. These restaurants serve fast food, that is, inexpensive food, prepared and served quickly. At some, you do not have to even get out of the car to eat. You can pay and get your order from a window. These places are called drive-throughs.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <div class="text-center lg:w-2/3 w-full">
              <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Our Famous Dishes<br><br></h1>
            </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/3">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.unileverfoodsolutions.lk/dam/global-ufs/mcos/meps/sri-lanka/calcmenu/recipes/LK-recipes/general/authentic-chicken-biryani/main-header.jpg/jcr:content/renditions/cq5dam.thumbnail.mobile.jpeg" alt="blog">
                <div class="p-6">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Our Famous Non-Veg Recipe</h2>
                  <h1 class="title-font text-lg font-medium text-gray-100 mb-3">Maharaja Chiken Biriyani</h1>
                  <p class="leading-relaxed mb-3">Biryani (/bɜːrˈjɑːni/) is a mixed rice dish originating among the Muslims of the Indian subcontinent. It is made with Indian spices, rice, and meat (chicken, beef, goat, lamb, prawn, fish), and sometimes, in addition, eggs or vegetables such as potatoes in certain regional varieties.</p>
                </div>
              </div>
            </div>
            <div class="p-4 md:w-1/3">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://www.sanjanafeasts.co.uk/wp-content/uploads/2020/02/Restaurant-Style-Paneer-Tikka-recipe.jpg.webp" alt="blog">
                <div class="p-6">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Our Famous Veg Recipe</h2>
                  <h1 class="title-font text-lg font-medium text-gray-100 mb-3">Spicy Paneer Tikka</h1>
                  <p class="leading-relaxed mb-3">Paneer tikka is an Indian dish made from chunks of paneer marinated in spices and grilled in a tandoor. It is a vegetarian alternative to chicken tikka and other meat dishes. It is a popular dish that is widely available in India and countries with an Indian diaspora.</p>
                  <div class="flex items-center flex-wrap">
                  </div>
                </div>
              </div>
            </div>
            <div class="p-4 md:w-1/3">
              <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://data.thefeedfeed.com/recommended/post_3976685.jpg" alt="blog">
                <div class="p-6">
                  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Our Famous Dessert Recipe</h2>
                  <h1 class="title-font text-lg font-medium text-gray-100 mb-3">Chocolate Cup Shake</h1>
                  <p class="leading-relaxed mb-3">Chocolate is a preparation of roasted and ground cacao seeds that is made in the form of a liquid, paste, or in a block, which may also be used as a flavoring ingredient in other foods. The earliest signs of use are associated with Olmec sites (within what would become Mexico’s post-colonial territory) suggesting consumption of chocolate beverages, dating from the 19th century BC.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-600 body-font relative">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-600">Check How far you are from Us!<br><br></h1>
          <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
            <iframe width="1000" height="700" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248742.4871784396!2d80.01160201640624!3d13.06102740000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5261eba79d4667%3A0x58da26be6fb0caeb!2sBALLY&#39;S%20N%20Fries!5e0!3m2!1sen!2sin!4v1625809371991!5m2!1sen!2sin" style="filter: contrast(1.8) opacity(0.5);" allowfullscreen="" loading="lazy"></iframe>
          </div>
      </section>
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Contact Us</h1>
            <p class="leading-relaxed mb-5 text-gray-100">Contact us if any other information needed.
              We will immediatly contact back.
            </p>
            <div class="relative mb-4">
              <label for="email" class="text-gray-100 text-lg mb-1 font-medium title-font">Email  </label>
              <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
              <label for="message" class="text-gray-100 text-lg mb-1 font-medium title-font">Message</label>
              <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
            <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Contact</button>
            <p class="text-xs text-gray-500 mt-3">Your Information is Just for reference.</p>
          </div>
        </div>
      </section>
</body>
</html>