<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Menu</title>

</head>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/home" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <image href="mdn_logo_only_color.png" height="200" width="200"/>
      </svg>
      <span class="ml-3 text-xl">Restaurent</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a href="/home" class="mr-5 hover:text-gray-900">Home</a>
      <a href="/menu"class="mr-5 hover:text-gray-900">Our Menu</a>
      <a href="/gallery" class="mr-5 hover:text-gray-900">Gallery</a>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Check for Dine In</button>
  </div>
</header>
<body bgcolor="#d0d1fb">
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <iframe class="object-cover object-center rounded" width="1060" height="800" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/23ace846-0154-4ff3-a935-1dd717c665fa/dec1wgp-6901613c-ce43-4994-8421-d5e87b97f9f8.png/v1/fill/w_1059,h_755,strp/restaurant_menu_card_design_by_mdattaind_dec1wgp-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTEzIiwicGF0aCI6IlwvZlwvMjNhY2U4NDYtMDE1NC00ZmYzLWE5MzUtMWRkNzE3YzY2NWZhXC9kZWMxd2dwLTY5MDE2MTNjLWNlNDMtNDk5NC04NDIxLWQ1ZTg3Yjk3ZjlmOC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.7tetlMpN2aKWVAY3QEezuSlzzEf6gxExR2J094lpLPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
</body>
</html>
